<h1>ts-type-safe</h1>

<p>Utilities and types for a more type-safe TypeScript</p>

[![view on npm](http://img.shields.io/npm/v/example.svg)](https://www.npmjs.com/package/ts-type-safe)

{{>main}}

* * *

&copy; 2023 Hans Krebs