<h1>ts-type-safe</h1>

<p>Utilities and types for a more type-safe TypeScript</p>

[![view on npm](http://img.shields.io/npm/v/example.svg)](https://www.npmjs.com/package/ts-type-safe)

{{!-- https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Cherry-picking-which-documentation-appears-in-output --}}
{{!-- jsdoc2md --json example.js --}}

{{>main}}

* * *

&copy; 2023 Hans Krebs