<h1>ts-type-safe</h1>

<p>Usefuly utility functions and types for a more type-safe TypeScript</p>

![view on npm](https://img.shields.io/npm/v/ts-type-safe) ![NPM](https://img.shields.io/npm/l/ts-type-safe)

{{!-- https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/Cherry-picking-which-documentation-appears-in-output --}}
{{!-- jsdoc2md --json example.js --}}

{{>main}}

{{!-- {{#functions}}
* {{name}} - {{description}}
{{/functions}} --}}

* * *

&copy; 2023 Hans Krebs